<div class="mb-4">
    <h5 class="mb-0 font-weight-bold titre-partie">{{ commerce.nom }}</h5>
    <p class="mb-0">{{ commerce.adresse }}</p>
    <p class="mb-0"><a style="color: darkred;" href="{{ commerce.site }}">{{ commerce.site }}</a></p>
    {% if commerce.categorie is defined %}
        {% if commerce.categorie == 'maison' %}
            <p class="mb-0">Maison de vacances</p>
        {% elseif commerce.categorie == 'chambre' %}
            <p class="mb-0">Chambre d'hôtes</p>
        {% else %}
            <p class="mb-0"></p>
        {% endif %}
    {% endif %}
    <button class="btn marqueur-carte" id="trajet" value="{{ commerce.lat ~ "|" ~ commerce.lng ~ "|" ~ commerce.nom }}">
        <i class="fas fa-map-marker-alt text-white"></i>
    </button>
</div>