<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <ul class="nav navbar-nav">
        <li><a class="nav-link" href="{{ path('accueil') }}" ><i class="fa fa-home"></i> Aux Temps d'Avant</a></li>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-link dropdown" style="cursor: pointer; border-left: 2px solid #e8dbc7; padding-left: 30px; padding-right: 30px;">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chambres<span style="color: #d7c9b8;" class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: #e8dbc7; border-color: #231f1c; font-size: 20px; color:#231f1c;">
                    <li><a class="dropdown-item js-scroll-trigger" href="{{ path('chambre', { diminutif : 'forge' }) }}" style="color: #231f1c;"> La Forge</a></li>
                    <li><a class="dropdown-item js-scroll-trigger" href="{{ path('chambre', { diminutif : 'grange' }) }}" style="color: #231f1c;"> La Grange</a></li>
                    <li><a class="dropdown-item js-scroll-trigger" href="{{ path('chambre', { diminutif : 'alcove' }) }}" style="color: #231f1c;"> L'Alcôve</a></li>
                </ul>
            </li>
            <li><a class="nav-link js-scroll-trigger" style="cursor: pointer; border-left: 2px solid #e8dbc7; padding-left: 30px; padding-right: 30px;" href="{{ path('noel') }}" >Noël</a></li>
            <!--<li><a class="nav-link js-scroll-trigger" href="{{ path('livre-d-or') }}"><i class="fas fa-book"></i> Livre d'or</a></li>
            <li><a class="nav-link js-scroll-trigger" href="{{ path('restaurant') }}" ><i class="fas fa-map-marker-alt"></i> Restaurants</a></li>-->
            <li class="nav-link dropdown" style="cursor: pointer; border-left: 2px solid #e8dbc7;padding-left: 30px; padding-right: 30px;">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Adresses<span style="color: #d7c9b8;" class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: #e8dbc7; border-color: #231f1c; font-size: 20px; color:#231f1c;">
                    {{ render(controller('App\\Controller\\AccueilController::afficherCategories')) }}
                    <!-- <li><a class="dropdown-item js-scroll-trigger" href="{{ path('tourisme', { categorie : 'balade' }) }}" style="color: #999c9f;"> Balades</a></li>
                    <li><a class="dropdown-item js-scroll-trigger" href="" style="color: #999c9f;"> Cités</a></li>
                    <li><a class="dropdown-item js-scroll-trigger" href="" style="color: #999c9f;"> Musées</a></li>
                    <li><a class="dropdown-item js-scroll-trigger" href="" style="color: #999c9f;"> Mémoires</a></li>
                    <li><a class="dropdown-item js-scroll-trigger" href="" style="color: #999c9f;"> Terroirs</a></li>
                    <li><a class="dropdown-item js-scroll-trigger" href="" style="color: #999c9f;"> Divers</a></li> -->
                    <!-- <li><a class="dropdown-item js-scroll-trigger" href="" style="color: #231f1c;"> Liors</a></li> -->
                </ul>
            </li>
            <!--<li><a class="nav-link js-scroll-trigger" href="{{ path('ailleur') }}" ><i class="fas fa-heart"></i> Ailleurs</a></li>-->
          
            <li><a class="nav-link js-scroll-trigger" style="cursor: pointer; border-left: 2px solid #e8dbc7;padding-left: 30px; padding-right: 30px;" href="{{ path('contact') }}" >Contact</a></li>
            {% if app.user %}
                <li><a class="nav-link" style="cursor: pointer; border-left: 2px solid #e8dbc7;padding-left: 30px; padding-right: 30px;" href="{{ path('administration') }}"><i class="fas fa-user-cog"></i></a> </li>
                <li><a class="nav-link" href="{{ path('deconnexion') }}"><i class="fas fa-sign-out-alt"></i></a> </li>
            {% else %}
                <li><a class="nav-link" style="cursor: pointer; border-left: 2px solid #e8dbc7;padding-left: 30px; padding-right: 30px;" href="{{ path('connexion') }}"><i class="fas fa-lock"></i></a> </li>
            {% endif %}
        </ul>
    </div>
</nav>