<ul style="background-color: #231f1c; margin-top: 10px; padding-left: 0 !important; list-style-type: none;">
    <li><a class="dropdown-item px-0" href="{{ path('administration') }}" style="color: #e8dbc7;" ><span class="menu-admin-item"><i class="fas fa-home"></i></span> Général</a></li>
    <li><a class="dropdown-item px-0" href="{{ path('administration_chambre', { diminutif : 'forge' }) }}" style="color: #e8dbc7;" ><span class="menu-admin-item"><i class="fas fa-bed"></i></span> La Forge</a></li>
    <li><a class="dropdown-item px-0" href="{{ path('administration_chambre', { diminutif : 'grange' }) }}" style="color: #e8dbc7;"><span class="menu-admin-item"><i class="fas fa-bed"></i></span> La Grange</a></li>
    <li><a class="dropdown-item px-0" href="{{ path('administration_chambre', { diminutif : 'alcove' }) }}" style="color: #e8dbc7;"><span class="menu-admin-item"><i class="fas fa-bed"></i></span> L'Alcôve</a></li>
   <!-- <li><a class="dropdown-item px-0" href="{{ path('administration_restaurant') }}" style="color: #e8dbc7;"><span class="menu-admin-item"><i class="fas fa-map-marker-alt"></i></span> Restaurants</a></li>
    <li><a class="dropdown-item px-0" href="{{ path('administration_tourisme') }}" style="color: #e8dbc7;"><span class="menu-admin-item"><i class="fas fa-map-marker-alt"></i></span> Tourismes</a></li>
    <li><a class="dropdown-item px-0" href="{{ path('administration_ailleur') }}" style="color: #e8dbc7;"><span class="menu-admin-item"><i class="fas fa-heart"></i></span> Ailleurs</a></li>
    <li><a class="dropdown-item px-0" href="{{ path('administration_livre') }}" style="color: #e8dbc7;"><span class="menu-admin-item"><i class="fas fa-book"></i></span> Livre d'or</a></li>
    <li><a class="dropdown-item px-0" href="{{ path('administration_photo') }}" style="color: #e8dbc7;"><span class="menu-admin-item"><i class="fas fa-book"></i></span> Photos</a></li> -->
</ul>